Repository kamp-us/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: npx pretty-quick --staged, npm run lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx,json}": ["npx pretty-quick --staged"],
  "**/*.{ts,tsx}": ["npm run lint:fix"]
}

chore: format all files
  docker-compose.yaml
  src/features/loading-indicator/loading-indicator.css
  src/setupTests.ts
  src/ui-library/StyleProvider.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Introduce Standardize Formatting (#81)
  .husky/pre-commit
  .lintstagedrc.json
  docker-compose.yaml
  package-lock.json
  package.json
  src/features/loading-indicator/loading-indicator.css
  src/setupTests.ts
  src/ui-library/StyleProvider.tsx
Due: npx pretty-quick --staged, npm run lint:fix

add(Send): Post form validation (#76)
  src/routes/send.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Run prettier
  src/routes/posts/$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

CMD change to ENTRYPOINT
  Dockerfile.dev
Due: none

Compose file added network & Fix entrypoint
  docker-compose.yaml
Due: none

docs: introduce github issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Added depends_on
  docker-compose.yaml
Due: none

docs: introduce github issue and pull request templates (#84)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add connect_timeout to prisma connection string
  docker-compose.yaml
Due: none

Dockerfile and Docker-compose Fix (#83)
  Dockerfile.dev
  docker-compose.yaml
Due: none

Added valid URL validation
  src/routes/send.tsx
Due: npx pretty-quick --staged, npm run lint:fix

URL Validation turned into a function
  src/routes/send.tsx
  src/utils/index.ts
Due: npx pretty-quick --staged, npm run lint:fix

Add error handling when submitting empty post comment
  src/routes/posts/$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

fix: Top Navbar stays below textarea
  src/ui-library/Textarea.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Add error handling when submitting empty post comment (#88)
  src/routes/posts/$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update bug_report.yml (#91)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

install alert dialog from radix
  package-lock.json
  package.json
  src/ui-library/AlertDialog.tsx
Due: npx pretty-quick --staged, npm run lint:fix

add post delete alert dialog
  src/ui-library/PostDeleteAlert.tsx
Due: npx pretty-quick --staged, npm run lint:fix

add post delete alert to post dropdown
  src/ui-library/MoreOptionsDropdown.tsx
Due: npx pretty-quick --staged, npm run lint:fix

add prisma delete handler
  src/models/post.server.ts
Due: npx pretty-quick --staged, npm run lint:fix

add api route for deleting post
  src/routes/delete-post.ts
Due: npx pretty-quick --staged, npm run lint:fix

Delete post (#93)
  package-lock.json
  package.json
  src/models/post.server.ts
  src/routes/delete-post.ts
  src/ui-library/AlertDialog.tsx
  src/ui-library/MoreOptionsDropdown.tsx
  src/ui-library/PostDeleteAlert.tsx
Due: npx pretty-quick --staged, npm run lint:fix

add sorted posts for post list
  src/models/post.server.ts
  src/routes/index.tsx
  src/ui-library/PostSorter.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Add user friendly url support with slug url field. Add slugify for title when creating and updating posts. #72
  package-lock.json
  prisma/migrations/20221023081600_/migration.sql
  prisma/schema.prisma
  src/features/post/PostItem.tsx
  src/models/post.server.ts
  src/routes/posts/$slug.tsx
  src/routes/send.tsx
  src/utils/index.ts
Due: npx pretty-quick --staged, npm run lint:fix

Add uniqueness for slug urls
  prisma/migrations/20221023095413_/migration.sql
  prisma/schema.prisma
  src/routes/posts/$slug.tsx
  src/routes/send.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Fix: The delete post button not working #96
  prisma/migrations/20221023103429_/migration.sql
  prisma/schema.prisma
  src/models/post.server.ts
  src/utils/index.ts
Due: npx pretty-quick --staged, npm run lint:fix

Fix: variable declaration
  src/models/post.server.ts
Due: npx pretty-quick --staged, npm run lint:fix

Textarea bug fix
  src/routes/posts/$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Designed profile page. Installed radix ui tabs component. Redirected to user page.
  package-lock.json
  package.json
  src/models/user.server.ts
  src/routes/profile/$userId.tsx
  src/ui-library/UserDropdown.tsx
  src/ui-library/topnav/Topnav.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Update Readme
  README.md
Due: none

Comment textarea submit cleanup bug fix (#99)
  src/routes/posts/$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Add user friendly url support with slug url field (#72) and fix the delete post button not working (#96)
  package-lock.json
  package.json
  prisma/migrations/20221023081600_/migration.sql
  prisma/migrations/20221023103429_/migration.sql
  prisma/schema.prisma
  src/features/post/PostItem.tsx
  src/models/post.server.ts
  src/routes/posts/$id.edit.tsx
  src/routes/posts/$slug-$id.tsx
  src/routes/send.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Make slug field required again
  prisma/schema.prisma
  src/utils/index.ts
Due: npx pretty-quick --staged, npm run lint:fix

Fix the problem of not deleting posts with comments
  src/models/post.server.ts
Due: npx pretty-quick --staged, npm run lint:fix

Update README.md
  README.md
Due: none

updated profile page
  src/models/user.server.ts
  src/routes/posts/$id.tsx
  src/routes/profile/$userId.tsx
  src/routes/send.tsx
Due: npx pretty-quick --staged, npm run lint:fix

updated profile page2
  src/routes/profile/$userId.tsx
Due: npx pretty-quick --staged, npm run lint:fix

package changes
  package-lock.json
  package.json
Due: npx pretty-quick --staged
