Repository kamp-us/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: npx pretty-quick --staged, npm run lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx,json}": ["npx pretty-quick --staged"],
  "**/*.{ts,tsx}": ["npm run lint:fix"]
}

add more utils
  src/utils/index.ts
Due: npx pretty-quick --staged, npm run lint:fix

update dropdown api
  src/ui-library/Dropdown.tsx
Due: npx pretty-quick --staged, npm run lint:fix

create social media share buttons
  src/ui-library/SocialMediaButtons.tsx
Due: npx pretty-quick --staged, npm run lint:fix

add social media share buttons
  src/ui-library/MoreOptionsDropdown.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Update dev install command
  Dockerfile.dev
  package.json
Due: npx pretty-quick --staged

Update dev install command (#112)
  Dockerfile.dev
  package.json
Due: npx pretty-quick --staged

expand comments if hash exists
  src/features/comment/Comment.tsx
  src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Fix for Refine meta tags for sharing #108
  src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Revert "Fix for Refine meta tags for sharing #108"
  src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Author and Description meta tags for sharing after rebase
  src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Author and Description meta tags for sharing
  src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Author and Description meta tags for sharing (#122)
  src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Make posts sharable (#111)
  package-lock.json
  package.json
  src/ui-library/Dropdown.tsx
  src/ui-library/MoreOptionsDropdown.tsx
  src/ui-library/SocialMediaButtons.tsx
  src/utils/index.ts
Due: npx pretty-quick --staged, npm run lint:fix

Update README.md (#110)
  README.md
Due: none

expand comments if hash exists (#120)
  src/features/comment/Comment.tsx
  src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Update docker related npm scripts
  Dockerfile.dev
  docker-compose.yaml
  package-lock.json
  package.json
Due: npx pretty-quick --staged

Include ssl proxy so we can call the app with https
  docker-compose.yaml
Due: none

Docker fixes (#124)
  Dockerfile.dev
  docker-compose.yaml
  package-lock.json
  package.json
Due: npx pretty-quick --staged

fix toast provider
  src/root.tsx
  src/ui-library/Toast.tsx
Due: npx pretty-quick --staged, npm run lint:fix

searchinput autocomplete background color bug fix (#92)
  src/ui-library/Input.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Remove unused files
  .graphqlconfig.yml
  src/routes/index-page-query.server.ts
  src/routes/search-page-query.server.ts
Due: npx pretty-quick --staged, npm run lint:fix

Remove unused files (#127)
  .graphqlconfig.yml
  src/routes/index-page-query.server.ts
  src/routes/search-page-query.server.ts
Due: npx pretty-quick --staged, npm run lint:fix

used utility types
  src/features/auth/can-user-edit.ts
Due: npx pretty-quick --staged, npm run lint:fix

fix toast provider (#125)
  src/root.tsx
  src/ui-library/Toast.tsx
Due: npx pretty-quick --staged, npm run lint:fix

Start using turborepo for repo management
  .dockerignore
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  apps/pano/.husky/pre-commit
  apps/pano/.lintstagedrc.json
  apps/pano/Dockerfile.dev
  apps/pano/docker-compose.yaml
  apps/pano/package-lock.json
  apps/pano/package.json
  package-lock.json
  package.json
  turbo.json
Due: npx pretty-quick --staged

Change repo name to monorepo in package.json
  package.json
Due: npx pretty-quick --staged

Change repo name to monorepo in package.json (#131)
  package.json
Due: npx pretty-quick --staged

docker & gitignore fix
  .gitignore
  apps/pano/docker-compose.yaml
Due: none

husky & turbo fix
  .gitignore
  .lintstagedrc.json
  apps/pano/src/utils/index.ts
  package-lock.json
Due: npx pretty-quick --staged, npm run lint:fix

husky & turbo fix (#133)
  .gitignore
  .lintstagedrc.json
  apps/pano/src/utils/index.ts
  package-lock.json
Due: npx pretty-quick --staged, npm run lint:fix

fix comment error positions
  apps/pano/src/features/comment/Comment.tsx
  apps/pano/src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

parse title from url meta tags
  apps/pano/package.json
  apps/pano/src/routes/api/parse-meta.ts
  apps/pano/src/routes/send.tsx
  apps/pano/src/utils/index.ts
  package-lock.json
Due: npx pretty-quick --staged, npm run lint:fix

change order of input fields
  apps/pano/src/routes/send.tsx
Due: npx pretty-quick --staged, npm run lint:fix

replace helper function with original
  apps/pano/src/routes/api/parse-meta.ts
  apps/pano/src/utils/index.ts
Due: npx pretty-quick --staged, npm run lint:fix

fix default value
  apps/pano/src/routes/send.tsx
Due: npx pretty-quick --staged, npm run lint:fix

fix comment error positions (#134)
  apps/pano/src/features/comment/Comment.tsx
  apps/pano/src/routes/posts/$slug-$id.tsx
Due: npx pretty-quick --staged, npm run lint:fix

change port to different than 5432
  apps/pano/docker-compose.yaml
Due: none

add prisma scripts & change pg port
  apps/pano/package.json
Due: npx pretty-quick --staged
