Repository kamp-us/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: npx pretty-quick --staged, turbo run lint:fix

update script name
  apps/pano/package.json
Due: npx pretty-quick --staged

add upvotes for comment
  apps/pano/prisma/migrations/20221113042836_make_comments_upvotable/migration.sql
  apps/pano/prisma/schema.prisma
Due: none

create CommentUpvoteButton
  apps/pano/src/ui-library/Text.tsx
  apps/pano/src/ui-library/UpvoteButton.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

include upvotes in comment & add upvote operations
  apps/pano/src/models/comment.server.ts
  apps/pano/src/models/post.server.ts
Due: npx pretty-quick --staged, turbo run lint:fix

create commentUpvote action
  apps/pano/src/routes/commentUpvote.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

add upvote button for comment
  apps/pano/src/features/comment/Comment.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

add gap between comments
  apps/pano/src/features/comment/Comment.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

remove comment
  apps/pano/src/ui-library/UpvoteButton.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

Make comments upvotable (#139)
  apps/pano/prisma/migrations/20221113042836_make_comments_upvotable/migration.sql
  apps/pano/prisma/schema.prisma
  apps/pano/src/features/comment/Comment.tsx
  apps/pano/src/models/comment.server.ts
  apps/pano/src/models/post.server.ts
  apps/pano/src/routes/commentUpvote.tsx
  apps/pano/src/ui-library/Text.tsx
  apps/pano/src/ui-library/UpvoteButton.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

Create @kampus/tsconfig package
  apps/pano/tsconfig.json
  package-lock.json
  packages/kampus-tsconfig/base.json
  packages/kampus-tsconfig/package.json
  packages/kampus-tsconfig/remix.json
Due: npx pretty-quick --staged

Create @kampus/eslint-config package
  apps/pano/.eslintrc.js
  apps/pano/package.json
  package-lock.json
  packages/kampus-eslint-config/.gitignore
  packages/kampus-eslint-config/index.cjs
  packages/kampus-eslint-config/package.json
  packages/kampus-eslint-config/remix.cjs
Due: npx pretty-quick --staged

Update pano package.json
  apps/pano/package.json
  package-lock.json
Due: npx pretty-quick --staged

Tooling packages (#141)
  apps/pano/.eslintrc.js
  apps/pano/package.json
  apps/pano/tsconfig.json
  package-lock.json
  packages/kampus-eslint-config/.gitignore
  packages/kampus-eslint-config/index.cjs
  packages/kampus-eslint-config/package.json
  packages/kampus-eslint-config/remix.cjs
  packages/kampus-tsconfig/base.json
  packages/kampus-tsconfig/package.json
  packages/kampus-tsconfig/remix.json
Due: npx pretty-quick --staged

chore(eslint-config): Update filenames
  packages/kampus-eslint-config/index.js
  packages/kampus-eslint-config/package.json
  packages/kampus-eslint-config/remix.js
Due: npx pretty-quick --staged

fix(pano): Add missing package (@kampus/tsconfig)
  apps/pano/package.json
  package-lock.json
Due: npx pretty-quick --staged

Fast follow for @kampus/tsconfig (#142)
  apps/pano/package.json
  package-lock.json
  packages/kampus-eslint-config/index.js
  packages/kampus-eslint-config/package.json
  packages/kampus-eslint-config/remix.js
Due: npx pretty-quick --staged

chore(root): update lintstaged command for ts & tsx
  .lintstagedrc.json
Due: npx pretty-quick --staged

chore(root): run "npx turbo run lint:fix" on repo
  apps/pano/src/routes/api/auth/login.ts
  apps/pano/src/routes/api/auth/logout.ts
  apps/pano/src/routes/api/auth/register.ts
  apps/pano/src/routes/api/parse-meta.ts
  apps/pano/src/routes/index.tsx
  apps/pano/src/routes/posts/$id.edit.tsx
  apps/pano/src/routes/search.tsx
  apps/pano/src/routes/send.tsx
  apps/pano/src/routes/settings.tsx
  apps/pano/src/routes/site/$.tsx
  apps/pano/src/ui-library/Dropdown.tsx
  apps/pano/src/ui-library/MoreOptionsDropdown.tsx
  apps/pano/src/utils/index.ts
  turbo.json
Due: npx pretty-quick --staged, turbo run lint:fix

Run eslint (#143)
  .lintstagedrc.json
  apps/pano/src/routes/api/auth/login.ts
  apps/pano/src/routes/api/auth/logout.ts
  apps/pano/src/routes/api/auth/register.ts
  apps/pano/src/routes/api/parse-meta.ts
  apps/pano/src/routes/index.tsx
  apps/pano/src/routes/posts/$id.edit.tsx
  apps/pano/src/routes/search.tsx
  apps/pano/src/routes/send.tsx
  apps/pano/src/routes/settings.tsx
  apps/pano/src/routes/site/$.tsx
  apps/pano/src/ui-library/Dropdown.tsx
  apps/pano/src/ui-library/MoreOptionsDropdown.tsx
  apps/pano/src/utils/index.ts
  turbo.json
Due: npx pretty-quick --staged, turbo run lint:fix

chore(@kampus-apps/pano): Ugrade remix version to 1.7.5
  apps/pano/Dockerfile.dev
  apps/pano/package.json
  apps/pano/tsconfig.json
  package-lock.json
Due: npx pretty-quick --staged

chore(@kampus-apps/pano): Ugrade remix version to 1.7.5 (#146)
  apps/pano/Dockerfile.dev
  apps/pano/package.json
  apps/pano/tsconfig.json
  package-lock.json
Due: npx pretty-quick --staged

chore(root): remove prepare script
  package.json
Due: npx pretty-quick --staged

chore(root): remove lintstagedrc
  .lintstagedrc.json
Due: npx pretty-quick --staged

chore(root): Remove pre-commit hook ops
  .husky/pre-commit
  package-lock.json
  package.json
Due: npx pretty-quick --staged

Remove pre-commit hooks to increase velocity (#148)
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: npx pretty-quick --staged

chore(ui): initial commit
  packages/kampus-ui/.gitignore
  packages/kampus-ui/package.json
Due: npx pretty-quick --staged

chore(jest-presets): initial commit
  packages/kampus-jest-presets/jest/node/jest-preset.js
  packages/kampus-jest-presets/package.json
Due: npx pretty-quick --staged

chore(root): update package-lock.json
  package-lock.json
Due: npx pretty-quick --staged

chore(ui): move components from pano to ui package
  packages/kampus-ui/index.tsx
  packages/kampus-ui/src/AlertDialog.tsx
  packages/kampus-ui/src/Avatar.tsx
  packages/kampus-ui/src/ControlGroup.tsx
  packages/kampus-ui/src/Dialog.tsx
  packages/kampus-ui/src/Dropdown.tsx
  packages/kampus-ui/src/ExternalLink.tsx
  packages/kampus-ui/src/Form.tsx
  packages/kampus-ui/src/GappedBox.tsx
  packages/kampus-ui/src/IconButton.tsx
  packages/kampus-ui/src/Input.tsx
  packages/kampus-ui/src/Label.tsx
  packages/kampus-ui/src/Link.tsx
  packages/kampus-ui/src/Select.tsx
  packages/kampus-ui/src/SmallLink.tsx
  packages/kampus-ui/src/SmallText.tsx
  packages/kampus-ui/src/SocialMediaButtons.tsx
  packages/kampus-ui/src/StyleProvider.tsx
  packages/kampus-ui/src/Text.tsx
  packages/kampus-ui/src/Textarea.tsx
  packages/kampus-ui/src/ThemeProvider.tsx
  packages/kampus-ui/src/ThemeToggle.tsx
  packages/kampus-ui/src/Timeago.tsx
  packages/kampus-ui/src/Toast.tsx
  packages/kampus-ui/src/UserAvatar.tsx
  packages/kampus-ui/src/ValidationMessage.tsx
  packages/kampus-ui/src/globalStyles.ts
  packages/kampus-ui/src/index.ts
  packages/kampus-ui/src/layout-components/Box.tsx
  packages/kampus-ui/src/layout-components/Button.tsx
  packages/kampus-ui/src/layout-components/CenteredContainer.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

chore(pano): restructure components in ui-library
  apps/pano/src/entry.client.tsx
  apps/pano/src/features/comment/Comment.tsx
  apps/pano/src/features/post/MoreOptionsDropdown.tsx
  apps/pano/src/features/post/PostDeleteAlert.tsx
  apps/pano/src/features/post/PostItem.tsx
  apps/pano/src/features/topnav/SearchInput.tsx
  apps/pano/src/features/topnav/Topnav.tsx
  apps/pano/src/features/upvote/UpvoteButton.tsx
  apps/pano/src/features/user-dropdown/UserDropdown.tsx
  apps/pano/src/features/utils/format-time-ago.ts
  apps/pano/src/root.tsx
  apps/pano/src/routes/index.tsx
  apps/pano/src/routes/posts/$slug-$id.tsx
  apps/pano/src/routes/search.tsx
  apps/pano/src/ui-library/AlertDialog.tsx
  apps/pano/src/ui-library/Timeago.tsx
  apps/pano/src/ui-library/index.ts
Due: npx pretty-quick --staged, turbo run lint:fix

feat(@kampus/ui): initial version
  apps/pano/package.json
  apps/pano/src/entry.client.tsx
  apps/pano/src/entry.server.tsx
  apps/pano/src/features/comment/Comment.tsx
  apps/pano/src/features/post/MoreOptionsDropdown.tsx
  apps/pano/src/features/post/PostDeleteAlert.tsx
  apps/pano/src/features/post/PostItem.tsx
  apps/pano/src/features/post/PostList.tsx
  apps/pano/src/features/topnav/SearchInput.tsx
  apps/pano/src/features/topnav/Topnav.tsx
  apps/pano/src/features/upvote/UpvoteButton.tsx
  apps/pano/src/features/user-dropdown/UserDropdown.tsx
  apps/pano/src/root.tsx
  apps/pano/src/routes/__auth/login.tsx
  apps/pano/src/routes/index.tsx
  apps/pano/src/routes/posts/$id.edit.tsx
  apps/pano/src/routes/posts/$slug-$id.tsx
  apps/pano/src/routes/search.tsx
  apps/pano/src/routes/send.tsx
  apps/pano/src/routes/settings.tsx
  apps/pano/src/routes/site/$.tsx
  package-lock.json
  packages/kampus-eslint-config/package.json
  packages/kampus-jest-presets/package.json
  packages/kampus-tsconfig/package.json
  packages/kampus-tsconfig/react-library.json
  packages/kampus-ui/.eslintrc.js
  packages/kampus-ui/.gitignore
  packages/kampus-ui/index.tsx
  packages/kampus-ui/package.json
  packages/kampus-ui/src/GappedBox.tsx
  packages/kampus-ui/src/IconButton.tsx
  packages/kampus-ui/src/SmallLink.tsx
  packages/kampus-ui/src/ValidationMessage.tsx
  packages/kampus-ui/src/index.tsx
  packages/kampus-ui/src/layout-components/CenteredContainer.tsx
  packages/kampus-ui/src/stitches.config.ts
  packages/kampus-ui/src/utils.tsx
  packages/kampus-ui/tsconfig.json
Due: npx pretty-quick --staged, turbo run lint:fix

Update readme
  README.md
Due: none

Fix: No error message when sending a new post (#152)
  apps/pano/src/routes/send.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

chore(root): update package-lock.json (#156)
  package-lock.json
Due: npx pretty-quick --staged

chore(@kampus/ui): Fix eslint errors
  packages/kampus-ui/package.json
  packages/kampus-ui/src/GappedBox.tsx
  packages/kampus-ui/src/IconButton.tsx
  packages/kampus-ui/src/SmallLink.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

chore(@kampus/ui): Fix eslint errors (#157)
  packages/kampus-ui/package.json
  packages/kampus-ui/src/GappedBox.tsx
  packages/kampus-ui/src/IconButton.tsx
  packages/kampus-ui/src/SmallLink.tsx
Due: npx pretty-quick --staged, turbo run lint:fix

add util functions
  apps/pano/src/utils/index.ts
Due: npx pretty-quick --staged, turbo run lint:fix

add content for post & optional for url & site
  apps/pano/prisma/migrations/20221116084646_add_post_content/migration.sql
  apps/pano/prisma/schema.prisma
Due: none

Path conditions:
  npx pretty-quick --staged: any of: **/*.{js,ts,jsx,tsx,json}
  turbo run lint:fix: any of: **/*.{ts,tsx}
